#cardTable {
    height:45em;
}
#cardTable, .chooseColumns {
    width: 19em;
}
.playingCard {
    margin-right:0.6em;
    border: 0.05px solid #666;
}
.chooseColumns button {
    width: 3.8em;
    height:2em;
    cursor: pointer;
    margin-right: 0.5em;
    font-size: 20px;
}